.data-chart {
  .bar {
    fill: theme-color("primary");
  }
  .label {
    text-anchor: middle;
    fill: $body-color;
  }
  .label-inside {
    fill: #ffffff;
  }
  .axis text {
    font-size: 14px;
    fill: $body-color;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: $body-color;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
}

.data-list {
  
}