html {
  height: 100%;
}
body {
  /* Height of the navbar */
  padding-top: 70px;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main-content {}

.table {
  .row-menu {
    padding: 0.5rem;
    width: 54px;
  }
  &.table-sm {
    .row-menu {
      padding: 0 ($spacer / 2);
      width: 44px;
    }
  }
}