@import "common/variables";

@import "../bower/bootstrap/scss/bootstrap";
@import "../bower/font-awesome/scss/font-awesome";

@import "common/global";
@import "layouts/header";
@import "layouts/footer";
